# all data of trajectories must be hold on PC hard drive, in order to avoid huge size of project
files/
T_Drive_data/
Roma_data/

# ignore result
result/

# ignore compiled classes
bin/

# ignore compiled classes
target/

.metadata/

.recommenders/

# ignore intellij IDEA files
.idea/
output
goLA.iml

#ignore Eclipse files
stemlab/.classpath
stemlab/.project
stemlab/.settings
.settings
.project
.classpath
