# all data of trajectories must be hold on PC hard drive, in order to avoid huge size of project
files/

# ignore result
result/

# ignore compiled classes
bin/

# ignore compiled classes
target/

.metadata/

.recommenders/

# ignore intellij IDEA files
.idea/
output
goLA.iml

#ignore Eclipse files
goLA/.classpath
goLA/.project
goLA/.settings
.settings
.project
.classpath
